@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body {
  background: #f4f7ff;
  font-family: 'Lato', sans-serif;
}
